<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/flights" method="POST">
  <label for="airline-select">Airline:</label>
  <select name="airline" id="airline-select">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <label for="airport-select">Airport:</label>
  <select name="airport" id="airport-select">
    <option value="AUS" selected>AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label for="flight-num">Flight No:</label>
  <input type="number" name="flightNo" id="flight-num">
  <label for="date-time">Departs:</label>
  
  <input type="datetime-local" name="departs" id="date-time" value="<%= `${new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toISOString().slice(0, 11)}${new Date().toLocaleTimeString('it-IT')}` %>">
  <button type="submit">Add Flight</button>
  </form>

</main>

<%- include('../partials/footer') %>