<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <a class="edit-button" href="/flights/<%= flight._id %>/edit"><button>EDIT</button></a><br>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No.: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
    <div>Meals: </div>
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li>
          <form action="/flights/<%= flight._id %>/remove-meal?_method=DELETE" method="POST">
            <%= meal.name %>
            <input type="hidden" name="meal" value="<%= meal._id %>">
            <button type="submit" class="remove-button">❌</button>
          </form>
        </li>
      <% }) %>
    </ul>
  </section>
  <form id="add-meal-to-meals" action="/flights/<%= flight._id %>/meals" method="post">
    <select name="mealId">
      <% meals.forEach(meal => { %>
       <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Meal to Flight</button>
  </form>
  <h2>Tickets</h2>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach((ticket) => { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= `$${ticket.price}` %></td>
            <td>
              <form action="/flights/<%= flight._id %>/<%= ticket._id %>?_method=DELETE" 
                method="post">
                <button type="submit">❌</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No tickets available for this flight. We are fully booked!</h3>
  <% } %>
  <form 
    id="add-ticket-form" 
    action="/flights/<%= flight._id %>/tickets" 
    method="post"
  >
    <label for="add-seat">Seat: </label>
    <input type="text" name="seat" id="add-seat" required pattern="[A-F][1-9]\d?">
    <label for="add-price">Price: </label>
    <input type="number" name="price" required id="add-price">
    <button type="submit">Add Ticket</button>
  </form>


</main>
  
<%- include('../partials/footer') %>